<% provide(:title, 'Contact') %>
 <div class="container"> 
<h1><%= yield(:title) %></h1>

<%= form_for @message, url: contact_path do |message_form| %>
  <fieldset>
    <div class="field">
      <%= message_form.select :category, options_for_select([["Photography", "Photography"], ["Cosplay", "Cosplay"], ["Others", "Others"]]) %>
    </div>
    
    <div class="field">
      <%= message_form.email_field :email, placeholder: "Email"%>
    </div>
    
    <div class="field">
      <%= message_form.text_area :content, placeholder: "Message"%>
    </div>
  </fieldset>
  
  <fieldset>
    <div class="field" id="submit_contact">
      <%= message_form.submit "Send" %>
    </div>
  </fieldset>
<% end %>




</div>
 
</div> 
